* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
:root {
  font-size: 18px;
  --main-color: rgb(36, 37, 40);
  --secondary-color: #1f3e59;
}

.container {
  height: 100vh;
  display: flex;
  gap: 1rem;
}
.container-page {
  width: 100%;
}
nav {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding-top: 1rem;
  & a {
    & img {
      width: 130px;
      object-fit: contain;
      margin-right: 16px;
    }
  }
}
#new-book-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h3 {
    font-size: 1.3rem;
  }
  & input {
    height: 1.3rem;
    border: 0;
    border-bottom: 0.5px solid black;
    font-size: 0.9rem;
    outline: none;
    margin-top: 0.3rem;
    padding-left: 2px !important;
    &:focus {
      transform: scale(1.05);
      margin-left: 5px;
    }
  }
  & section {
    margin: 0.9rem;
  }
  & .section-estatus {
    & input {
      accent-color: var(--secondary-color);
      transform: scale(1.3);
      margin-left: 0.4rem;
      height: auto !important;
      height: 1rem;
    }
  }
  & h4 {
    margin-top: 0.5rem;
  }
  &::backdrop {
    background-color: rgba(36, 37, 40, 0.634);
  }
  & button {
    margin-top: 0.5rem;
    padding: 8px 1rem;
    border: 0;
    border-radius: 2px;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  & #cancel {
    background-color: rgb(172, 34, 34);
    &:hover {
      background-color: rgb(121, 23, 23);
    }
  }
  & #btn-submit {
    background-color: var(--secondary-color);
    &:hover {
      background-color: rgb(18, 36, 53);
    }
  }
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem auto;
  & h2 {
    font-size: 2rem;
  }
}
#newBook {
  border: none;
  border-radius: 6px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  color: white;
  transition: 0.4s;
  margin-right: 2rem;
  &:hover {
    cursor: pointer;
    background-color: rgb(34, 34, 32);
  }
}
hr:first-of-type {
  margin-bottom: 2rem;
}

.message-no-books {
  font-size: 2.5rem;
}

table {
  width: 98%;
  margin-right: 2rem;
  table-layout: fixed;
  border-collapse: collapse;
}
thead {
  font-size: 1.1rem;

  & tr {
    background-color: var(--secondary-color);
    color: white;
  }
}
tr th td {
  border-radius: 12px !important;
}
tbody {
  & tr td:first-of-type {
    font-style: italic;
    &:before {
      content: '"';
    }
    &:after {
      content: '"';
    }
  }
  & tr:nth-child(even) {
    background-color: #9f9f9f;
  }
}
th,
tr,
td {
  padding: 10px;
  text-align: left;
}
td,
th {
  padding-left: 1rem;
  height: 2rem;
}
tr td:last-of-type {
  text-align: center;
}
td a .bi-trash-fill {
  color: red;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  transition: 0.08s;
  &:hover {
    color: rgb(182, 3, 3);
  }
}
