* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
:root {
  font-size: 18px;
  --main-color: black;
  --secondary-color: rgb(31, 62, 89);
}

.container {
  height: 100vh;
  display: flex;
  gap: 1rem;
}
.container-page {
  width: 100%;
}
nav {
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem;
  text-align: center;
  & h1 {
    font-size: 1.2rem;
  }
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem auto;
  & h2 {
    font-size: 2rem;
  }
  & button {
    border: none;
    border-radius: 6px;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: white;
    transition: 0.4s;
    margin-right: 2rem;
    &:hover {
      cursor: pointer;
      background-color: rgb(34, 34, 32);
    }
  }
}
hr:first-of-type {
  margin-bottom: 2rem;
}
table {
  width: 98%;
  margin-right: 2rem;
  table-layout: fixed;
  border-collapse: collapse;
}
thead {
  font-size: 1.1rem;
  & tr {
    background-color: var(--secondary-color);
    color: white;
  }
}
tbody {
  & tr td:first-of-type {
    font-style: italic;
    &:before {
      content: '"';
    }
    &:after {
      content: '"';
    }
  }
  & tr:nth-child(even) {
    background-color: rgb(195, 194, 194);
  }
}
th,
tr,
td {
  padding: 10px;
  text-align: left;
}
td,
th {
  padding-left: 1rem;
  height: 2rem;
}

